{% extends 'navbar.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ list.name }}</h1>
                <p class="card-text">Email: {{ list.description }}</p>
                <p class="card-text">Bio: {{ list.date }}</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="{% url 'task_update' pk=list.pk %}">Редактировать</a>
            </div>
        </div>
    </div>

{% endblock %}