{% extends 'navbar.html' %}
{% load bootstrap4 %}

{% block content %}
{% for list in list %}
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne{{ list.id }}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        {{list.name}}
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne{{ list.id }}" class="accordion-collapse collapse show">
      <div class="accordion-body">
          Дата:{{ list.date }} <br><br> <a href="{% url 'task_detail' pk=list.pk %}"><button type="button" class="btn btn-primary"> Узнать больше </button></a>  <a href="{% url 'task_delete' pk=list.pk %}"><button type="button" class="btn btn-danger" > Удалить </button></a>
      </div>
    </div>
  </div>
    </div>
{% endfor %}
{% bootstrap_pagination page_obj %}
{% endblock %}

